*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-color: rgba(207, 211, 238, 0.815);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #181818;
}
header{
    background: url('../img/banner.jpg');
}
header h1{
    font-family: 'Comic Sans MS';
    font-size: 2.5em;
    font-weight: normal;
    color: #ebebeb;
}
#titulo{
    display: inline-block;
}
#logo, header h1{
    display: inline-block;
    margin-bottom: 0px;
    height: 150px;
}
/*Menu navegación*/
nav{
    display: inline-block;
    width: 100%;
    height: 40px;
    text-align: right;
    background-color: #f3ea6fdb;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin-right: 15px;
}
nav a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    color: #070606;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #061af9;
    border-bottom: 3px solid #5555e8;
}
/*Contenido*/
img{
    height: 300px;
    border-radius: 30px;
}
article{
    padding: 10px;
}
section{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 75%;
    text-align: left;
    text-align: justify;
    line-height: 1.5; 
}
aside{
    padding: 5px;
    font-style: italic;
    float: right;
    width: 20%;
    border: 2px solid;
}
footer{
    float: left;
    position: bottom;
    bottom: 0;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    border-top: 2px solid #000;
    background-color: #f3ea6fdb;
    color: rgb(11, 11, 11);
    text-align: center;
    padding-top: 10px;
}